<footer>
    <div class="footer-top-section">
        <div class="container">
            <div class="footer-top-section-content">
                <div class="footer-website-logo">
                    <img src="/img/white-logo.svg" alt="LemmeAsk Logo">

                    <div class="footer-website-logo-texts">
                        <h1>LemmeAsk</h1>
                        <h2>Your Q&A Portal</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-section">
        <div class="container">
            <div class="footer-bottom-section-content">
                <p>Developed With <img src="/img/heart-emoji.png" alt="Emoji"> by <a href="https://github.com/smit-in">Smit Patel</a></p>
            </div>
        </div>
    </div>

</footer>