<header>
    <div class="container">
        <div class="header-content">

            <div class="website-logo">

                <a href="/">
                    <img 
                    src="/img/blue-logo.svg" 
                    alt="LemmeAsk Logo"
                    >
                </a>

                <a href="/">
                    <div class="website-logo-texts">
                        <h1>LemmeAsk</h1>
                        <h2>Your Q&A Portal</h2>
                    </div>
                </a>

            </div>  

            <a 
            class="ask-a-question-btn" 
            href="/toask"
            >
                Ask Question
            </a>

        </div>
    </div>
</header>